<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loi</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<h1>Bạn đã nhập sai thông tin hoặc thiếu vui lòng nhập lại!</h1>
<button class="btn btn-danger btn-sm py-1 " type="button" style="float:right" onclick="quay_lai_trang_truoc()" >Quay lai</button>
<script>
    function quay_lai_trang_truoc(){
        history.back();
    }

</script>
</body>
</html>